# Visual Studio
.vs/
bin/
obj/
*.suo
*.user
*.userosscache
*.sln.docstates

# Angular/Node
dist/
node_modules/
.angular/

# WebView2
*.WebView2/

# User-specific
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.launch
*.lock

# Build outputs
CommandMan.Shell/wwwroot/
output/

# Compiled help
docs/*.chm
